/* ejercicio2a VM19003 */
pais {
	background-color: #D7E0D1;
	margin:50px;
}

pais[nombre]::before{
	content: attr(nombre)". Moneda: "attr(moneda)" Codigo de area: "attr(codigoarea);
	color: #000000;
	display:block;
	font-size:1cm;
	background-color:#70C269;
	border-style: dashed;
	margin-bottom:5px;
	text-align: center;
}

idioma{
	background-color: #E3DEDE; 
	color: black; 
	display: block; 
	text-align: center;
	padding-top:20px;
	padding-right:100px;
	padding-bottom:20px;
	padding-left:100px;
}

idioma[tipo]::before{
		content: attr(nombre)" Idioma: "attr(tipo);
		color: #60410E;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		display: block;
		text-align: center;
}

departamento {
	background-color: #737AB7; 
	display:block;margin:50px; 
	padding: 30px; 
	text-align: center;
	padding-bottom:10px;
	padding-top:10px;
}

departamento[nombre]::before{
		content: attr(nombre)" Codigo: "attr(codigo);
		color: #60410E;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		display: block;
		font-size:0.5cm;
		padding-bottom:20px;
		padding-top:20px;
}

cabecera {
	color: black; 
	display: block; 
	padding: 10px;
}

habitantes {
	color: black; 
	display: block; 
	padding: 10px;
}

altura {
	color: black; 
	display: block; 
	padding: 10px;
}

areaterritorial {
	color: black; 
	display: block; 
	padding: 10px;
}
